
form{
    padding-top: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    width: 90px;
    background-color: darkslategray;
    border-radius: 5px;
    
    
}
#Display{
    cursor: grab;
    width: 80px;
}
input{
    cursor: pointer;
    border-radius: 5px;
    background-color: antiquewhite;
    
}
.operators{
    width: 35px;


}
.logo{
    float: right;
    font-size: 10px;
    
}
@media (min-width:1200px) {
    
    form{
        width: 200px;
        padding: 20px;
        height: 280px;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
        margin-top: 10%;
    }
    .values{
        margin-top: 10px;
        width: 50%;
        
    }
    .clearbuttons{
        margin-top: 10px;
    }
    .logo{
        margin-top: 0;
    }
    .operators{
        margin-top: 10px;
    }
    #Display{
        width: 140px;
    }
    
}

